section.about-section
  .about-section__decor
    img(src="images/about-decor-2.svg" loading="lazy" alt="image" width="705" height="665").d-block
  .wrapper
    .about-section__inner
      h2.about-section__title.font-s-100.text-center
        |А еще 
        span.color-blue-1.text-up КОТ В ШЛЯПЕ – 
        |это...
      .about-section__photo.swiper-about
        .about-section__photo-decor
          img(src="images/about-decor-1.svg" loading="lazy" alt="image" width="225" height="233").d-block
        .about-section__photo-list.swiper-wrapper
          .about-section__photo-item.swiper-slide
            .about-section__photo-container.about-section__photo-container--1
              img(src="images/about-photo-1.jpg" loading="lazy" alt="photo" width="280" height="268").d-block
          .about-section__photo-item.swiper-slide
            .about-section__photo-container.about-section__photo-container--2
              img(src="images/about-photo-2.jpg" loading="lazy" alt="photo" width="280" height="268").d-block
          .about-section__photo-item.swiper-slide
            .about-section__photo-container.about-section__photo-container--3
              img(src="images/about-photo-3.jpg" loading="lazy" alt="photo" width="280" height="268").d-block
          .about-section__photo-item.swiper-slide
            .about-section__photo-container.about-section__photo-container--4
              img(src="images/about-photo-4.jpg" loading="lazy" alt="photo" width="280" height="268").d-block
        .about-section__photo-bullets.about-pagination
      .about-section__info
        .about-section__info-list
          .about-section__info-item
            .about-section__info-circle.about-section__info-circle--1
              .about-section__info-description.font-m-s-bold.font-s-18
                |Организация и 
                br
                |проведение арт-
                br
                |фестивалей
          .about-section__info-item
            .about-section__info-circle.about-section__info-circle--2
              .about-section__info-description.font-m-s-bold.font-s-18
                |Собственная 
                br
                |частная школа
          .about-section__info-item
            .about-section__info-circle.about-section__info-circle--3
              .about-section__info-description.font-m-s-bold.font-s-18
                |Премия за лучший 
                br
                |образовательный 
                br
                |проект
          .about-section__info-item
            .about-section__info-circle.about-section__info-circle--4
              .about-section__info-description.font-m-s-bold.font-s-18
                |Клубы 
                br
                |робототехники и 
                br
                |инновационного 
                br
                |творчества
          .about-section__info-item
            .about-section__info-circle.about-section__info-circle--5
              .about-section__info-description.font-m-s-bold.font-s-18
                |Участие в 
                br
                |государственных 
                br
                |образовательных 
                br
                |программах
          .about-section__info-item
            .about-section__info-circle.about-section__info-circle--6
              .about-section__info-description.font-m-s-bold.font-s-18
                |Премия за лучший 
                br
                |социальный 
                br
                |проект