mixin connection(index)
  .connection
    .connection__icon
      img(src="images/connection-phone.svg" loading="lazy" alt="phone" width="30" height="30").d-block

    .connection__number
      a(href="tel:+79990000000").connection__num.font-g-s-bold.font-s-20 +7 999 000 00 00
