section.finance-section
  .wrapper
    .finance-section__inner
      .finance-section__decor
        img(src="images/finance-decor-1.svg" loading="lazy" alt="decor" width="96" height="91").d-block
      h2.finance-section__title.font-s-100
        |Франшиза 
        span.text-up.color-blue-1 Кот в шляпе 
        |в цифрах
      .finance-section__info.swiper-finance
        .finance-section__info-list.swiper-wrapper
          .finance-section__info-item.swiper-slide
            .finance-section__info-container
              .finance-section__info-icon
                img(src="images/finance-info-icon-1.svg" loading="lazy" alt="icon" width="71" height="72").d-block
              .finance-section__info-title.font-l-reg.font-s-46 от 12 месяцев
              .finance-section__info-description.font-s-18
                |срок окупаемости одного 
                br
                |детского сада
          .finance-section__info-item.swiper-slide
            .finance-section__info-container
              .finance-section__info-icon
                img(src="images/finance-info-icon-2.svg" loading="lazy" alt="icon" width="71" height="72").d-block
              .finance-section__info-title.font-l-reg.font-s-46 через 8 недель
              .finance-section__info-description.font-s-18
                |вы начнете получать 
                br
                |стабильную прибыль
          .finance-section__info-item.swiper-slide
            .finance-section__info-container
              .finance-section__info-icon
                img(src="images/finance-info-icon-3.svg" loading="lazy" alt="icon" width="71" height="72").d-block
              .finance-section__info-title.font-l-reg.font-s-46 от 494 000 руб.
              .finance-section__info-description.font-s-18
                |средняя чистая прибыль 
                br
                |одного детского сада
          .finance-section__info-item.swiper-slide
            .finance-section__info-container
              .finance-section__info-icon
                img(src="images/finance-info-icon-4.svg" loading="lazy" alt="icon" width="71" height="72").d-block
              .finance-section__info-title.font-l-reg.font-s-46 40% клиентов
              .finance-section__info-description.font-s-18
                |приходят по 
                br
                |рекомендации
          .finance-section__info-item.swiper-slide
            .finance-section__info-container
              .finance-section__info-icon
                img(src="images/finance-info-icon-5.svg" loading="lazy" alt="icon" width="71" height="72").d-block
              .finance-section__info-title.font-l-reg.font-s-46 17 филиалов
              .finance-section__info-description.font-s-18
                |в составе собственной 
                br
                |сети и по франшизе
          .finance-section__info-item.swiper-slide
            .finance-section__info-container
              .finance-section__info-icon
                img(src="images/finance-info-icon-6.svg" loading="lazy" alt="icon" width="71" height="72").d-block
              .finance-section__info-title.font-l-reg.font-s-46 800 воспитанников
              .finance-section__info-description.font-s-18
                |одновременно обучаются 
                br
                |в наших заведениях
        .finance-section__info-progress.finance-pagination
  .finance-section__feedback
    .wrapper
      .feedback
        form(data-feedback-form).feedback__form
          .feedback__description.font-m-med.font-s-20
            |Нужно больше цифр?
          .feedback__title.font-l-reg.font-s-72
            |Получите подробную 
            span.color-orange-1 финансовую модель
          .feedback__list
            .feedback__item
              .input
                input(type="text" name="name" placeholder="Ваше имя").input__field
            .feedback__item
              .input
                input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
            .feedback__item
              .btn
                button(type="submit")
                  span.btn__description Получить
          .feedback__agree.font-m-light.font-s-14
            |Я принимаю условия 
            br
            a(href="#" data-remodal-target="privacy").color-orange-1 Политики конфиденциальности
