mixin footer(index)
  footer.footer.font-s-16
    .wrapper
      .footer__row

        .footer__col
          .footer__container
            .footer__logo
              img(src="images/logo-main.svg" loading="lazy" alt="logo" width="177" height="16803").d-block
            .footer__description.font-m-s-bold
              span © Кот в шляпе, 
              span(data-current-year)
        .footer__col
          a(href="#" data-remodal-target="privacy").footer__privacy.color-blue-1 Политика конфиденциальности


        .footer__col
          .footer__connection
            +connection(index)
