section.main-section
  +header(true)
  .wrapper
    .main-section__inner
      .main-section__title-info
        span
          img(src="images/star.svg" loading="lazy" alt="icon" width="24" height="22").d-block
        span.font-l-reg.font-s-46 Станьте частью крупной сети детских садов
      h1.main-section__title.font-s-100
        span.text-up.color-blue-1 Кот в шляпе – 
        |ваш частный 
        br
        |детский сад с прибылью 
        br
        .color-orange-1 от 6 млн рублей в год

      .main-section__button-container
        .main-section__button-description.font-m-med.font-s-20
          |Получите презентацию франшизы
        .main-section__button
          .btn
            button(href="#" data-remodal-target="modal-form-main")
              span.btn__description Получить
      .main-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__description.font-m-med.font-s-20
              |Получите презентацию франшизы
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" placeholder="Ваше имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                .btn
                  button(type="submit")
                    span.btn__description Получить
            .feedback__agree.font-m-light.font-s-14
              |Я принимаю условия 
              br
              a(href="#" data-remodal-target="privacy").color-orange-1 Политики конфиденциальности
