section.profit-section
  .wrapper
    .profit-section__inner
      h2.profit-section__title.font-s-100.text-center
        |Все детские сады 
        span.color-blue-1.text-up КОТ В ШЛЯПЕ 
        br
        |приносят 
        span.color-orange-1 стабильную прибыль
      .profit-section__title-info.font-l-reg.font-s-46.text-center
        |И на это есть несколько причин
      .profit-section__cards.swiper-profit
        .profit-section__cards-list.swiper-wrapper
          .profit-section__cards-item.swiper-slide
            .profit-section__card.profit-section__card--1
              .profit-section__card-title.font-l-reg.color-blue-1.text-center.font-s-46 Репутация
              .profit-section__card-description.text-center
                |Мы знаем как заработать 
                br
                |хорошую репутацию, 
                br
                |поэтому 40% родителей 
                br
                |приводят нам своих детей 
                br
                |по рекомендации.
          .profit-section__cards-item.swiper-slide
            .profit-section__card.profit-section__card--2
              .profit-section__card-title.font-l-reg.color-yellow-1.text-center.font-s-46 Маркетинг
              .profit-section__card-description.text-center
                |Наши партнеры пользуются 
                br
                |корпоративными рекламными 
                br
                |инструментами, 
                br
                |что позволяет им получать 
                br
                |по 7-10 заявок ежедневно.
          .profit-section__cards-item.swiper-slide
            .profit-section__card.profit-section__card--3
              .profit-section__card-title.font-l-reg.color-pink-1.text-center.font-s-46 Эффективность
              .profit-section__card-description.text-center
                |Мы знаем как увеличить 
                br
                |прибыль детского сада 
                br
                |на 100 000 - 200 000 
                br
                |рублей в месяц за счет 
                br
                |дополнительных услуг.
          .profit-section__cards-item.swiper-slide
            .profit-section__card.profit-section__card--4
              .profit-section__card-title.font-l-reg.color-orange-1.text-center.font-s-46 Господдержка
              .profit-section__card-description.text-center
                |Помогаем партнерам 
                br
                |получить льготную 
                br
                |налоговую ставку и 
                br
                |получить безвозвратную 
                br
                |субсидию на развитие 
                br
                |детского сада.
        .profit-section__cards-progress.profit-pagination
  .profit-section__feedback
    .wrapper
      .feedback
        form(data-feedback-form).feedback__form
          .feedback__title.font-l-reg.font-s-72
            |Узнайте больше 
            span.color-orange-1 об условиях 
              br
              |сотрудничества
          .feedback__description.font-m-med.font-s-20
            |Получите образец договора франшизы
          .feedback__list
            .feedback__decor
              img(src="images/arrow-1.svg" loading="lazy" alt="arrow" width="61" height="34").d-block
            .feedback__item
              .input
                input(type="text" name="name" placeholder="Ваше имя").input__field
            .feedback__item
              .input
                input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
            .feedback__item
              .btn
                button(type="submit")
                  span.btn__description Получить
          .feedback__agree.font-m-light.font-s-14
            |Я принимаю условия 
            br
            a(href="#" data-remodal-target="privacy").color-orange-1 Политики конфиденциальности
