section.stages-section
  .stages-section__decor
    img(src="images/stages-decor-2.svg" loading="lazy" alt="decor" width="1328" height="1283").d-block
  .wrapper
    .stages-section__inner
      h2.stages-section__title.font-s-100.text-center
        span.color-orange-1 5 основных этапов 
        |открытия 
        br
        |детского сада 
        spna.color-blue-1 КОТ В ШЛЯПЕ
      .stages-section__cards
        .stages-section__cards-decor
          img(src="images/stages-decor-1.svg" loading="lazy" alt="decor" width="90" height="60").d-block
        .stages-section__cards-list
          .stages-section__cards-item
            .stages-section__card-head.font-l-reg.font-s-46.color-white
              div 1 этап
            .stages-section__card.text-center
              .stages-section__card-image
                img(src="images/stages-card-img-1.jpg" loading="lazy" alt="photo" width="308" height="227").d-block
              .stages-section__card-title.font-l-reg.font-s-46.color-blue-1
                |Аренда помещения 
                br
                |и ремонт
              .stages-section__card-description
                |Помогаем выбрать подходящее 
                br
                |помещение, проводим анализ 
                br
                |вариантов, помогаем оформить 
                br
                |договор аренды и выбрать 
                br
                |необходимую мебель и 
                br
                |оборудование.
          .stages-section__cards-item
            .stages-section__card-head.font-l-reg.font-s-46.color-white
              div 2 этап
            .stages-section__card.text-center
              .stages-section__card-image
                img(src="images/stages-card-img-2.jpg" loading="lazy" alt="photo" width="308" height="227").d-block
              .stages-section__card-title.font-l-reg.font-s-46.color-blue-1
                |Поиск и обучение 
                br
                |персонала
              .stages-section__card-description
                |Наша кадровая служба передает 
                br
                |критерии подбора персонала, 
                br
                |должностные инструкции, 
                br
                |обучает основам кадрового 
                br
                |делопроизводства.
          .stages-section__cards-item
            .stages-section__card-head.font-l-reg.font-s-46.color-white
              div 3 этап
            .stages-section__card.text-center
              .stages-section__card-image
                img(src="images/stages-card-img-3.jpg" loading="lazy" alt="photo" width="308" height="227").d-block
              .stages-section__card-title.font-l-reg.font-s-46.color-blue-1
                |Закупка 
                br
                |оборудования
              .stages-section__card-description
                |Передаем список необходимых 
                br
                |игрушек, методических 
                br
                |материалов, посуды и формируем 
                br
                |первичные запасы расходных 
                br
                |материалов.
          .stages-section__cards-item
            .stages-section__card-head.font-l-reg.font-s-46.color-white
              div 4 этап
            .stages-section__card.text-center
              .stages-section__card-image
                img(src="images/stages-card-img-4.jpg" loading="lazy" alt="photo" width="308" height="227").d-block
              .stages-section__card-title.font-l-reg.font-s-46.color-blue-1
                |Реклама
              .stages-section__card-description
                |Приводим 70% клиентов еще 
                br
                |до открытия детского сада, 
                br
                |проводим телефонную 
                br
                |поддержку и консультации 
                br
                |для ваших клиентов.
          .stages-section__cards-item
            .stages-section__card-head.font-l-reg.font-s-46.color-white
              div 5 этап
            .stages-section__card.text-center
              .stages-section__card-image
                img(src="images/stages-card-img-5.jpg" loading="lazy" alt="photo" width="308" height="227").d-block
              .stages-section__card-title.font-l-reg.font-s-46.color-blue-1
                |Организация 
                br
                |пищеблока
              .stages-section__card-description
                |Предоставляем утвержденное 
                br
                |СЭСом меню, даем рекомендации 
                br
                |по подбору поставщиков.
      .stages-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__title.font-l-reg.font-s-72
              |Получите 
              span.color-orange-1 подробный план 
              |открытия детского сада 
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" placeholder="Ваше имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                .btn
                  button(type="submit")
                    span.btn__description Получить
            .feedback__agree.font-m-light.font-s-14
              |Я принимаю условия 
              br
              a(href="#" data-remodal-target="privacy").color-orange-1 Политики конфиденциальности

  .stages-section__gallery
    .wrapper
      .stages-section__swiper-title.font-s-72.font-l-reg.text-center
        span.color-blue-1 фотографии 
        |действующих детских садов
        .stages-section__swiper-decor
          img(src="images/gallery-decor.svg" loading="lazy" alt="decor" width="96" height="91").d-block
      .stages-section__swiper-inner
        .stages-section__swiper.swiper-gallery
          .stages-section__swiper-wrapper.swiper-wrapper
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-1.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-2.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-3.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-4.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-5.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-6.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-7.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-8.jpg" loading="lazy" alt="photo" width="380" height="276").d-block
            .stages-section__swiper-slide.swiper-slide
              .stages-section__swiper-container
                img(src="images/gallery-photo-9.jpg" loading="lazy" alt="photo" width="380" height="276").d-block

      .stages-section__swiper-control
        .stages-section__swiper-prev.swiper-gallery-prev.swiper-control
          img(src="images/arrow-2.svg" loading="lazy" alt="prev" width="44" height="44").d-block
        .stages-section__swiper-next.swiper-gallery-next.swiper-control
          img(src="images/arrow-2.svg" loading="lazy" alt="next" width="44" height="44").d-block
