section.team-section
  .wrapper
    .team-section__decor-1
      img(src="images/team-decor-1.svg" loading="lazy" alt="decor" width="684" height="675").d-block
    .team-section__decor-2
      img(src="images/team-decor-2.svg" loading="lazy" alt="decor" width="899" height="843").d-block
    .team-section__decor-3
      img(src="images/team-decor-3.svg" loading="lazy" alt="decor" width="175" height="134").d-block
    .team-section__decor-4
      img(src="images/team-decor-4.svg" loading="lazy" alt="decor" width="131" height="106").d-block
    .team-section__inner
      h2.team-section__title.font-s-100.text-center
        span.color-orange-1 Команда, 
        |которая будет 
        br
        |запускать ваш новый бизнес
      .team-section__title-info.font-s-20.text-center
        |Руководители нашей сети уже готовы открывать ваш детский сад
      .team-section__cards
        .team-section__cards-list
          .team-section__cards-item.text-center
            .team-section__card
              .team-section__card-photo
                img(src="images/team-card-photo-1.jpg" loading="lazy" alt="photo" width="300" height="302").d-block
              .team-section__card-title.font-l-reg.font-s-46.color-blue-1 Образование
              .team-section__card-description
                .font-m-s-bold.font-s-22 Алёна Карташева
                |Основатель сети детских 
                br
                |садов 
                span.font-m-s-bold КОТ В ШЛЯПЕ
              .team-section__card-button
                .btn
                  button(href="#" data-remodal-target="modal-form-team")
                    span.btn__description Задать вопрос Алёне
          .team-section__cards-item.text-center
            .team-section__card
              .team-section__card-photo
                img(src="images/team-card-photo-2.jpg" loading="lazy" alt="photo" width="300" height="302").d-block
              .team-section__card-title.font-l-reg.font-s-46.color-orange-1 Бизнес-процессы
              .team-section__card-description
                .font-m-s-bold.font-s-22 Светлана Кочергина
                |Руководитель отдела 
                br
                |франчайзинга
              .team-section__card-button
                .btn
                  button(href="#" data-remodal-target="modal-form-team")
                    span.btn__description Задать вопрос светлане
          .team-section__cards-item.text-center
            .team-section__card
              .team-section__card-photo
                img(src="images/team-card-photo-3.jpg" loading="lazy" alt="photo" width="300" height="302").d-block
              .team-section__card-title.font-l-reg.font-s-46.color-pink-1 Стратегия
              .team-section__card-description
                .font-m-s-bold.font-s-22 Кристина Чабан
                |Директор развития 
                br
                |розничной сети
              .team-section__card-button
                .btn
                  button(href="#" data-remodal-target="modal-form-team")
                    span.btn__description Задать вопрос кристине