extends ../layouts/default.pug

block content
  include ../components/MainSection
  include ../components/FinanceSection
  include ../components/ProfitSection
  include ../components/AboutSection
  include ../components/StagesSection
  include ../components/CalcSection
  include ../components/TeamSection
  include ../components/CitySection
