.about-section
  position relative

  &__decor
    position: absolute
    top: 490px;
    right: calc(50% - 372px);
    +above($breakpoints.sm)
      top: 348px;
      right: calc(50% - 639px);
    +above($breakpoints.md)
      top: 348px;
      right: calc(50% - 903px);
    +above($breakpoints.xxl)
      top: 327px;
      right: calc(50% - 1348px);
    img
      width 389px
      height: auto
      +above($breakpoints.xxl)
        width 705px

  &__inner
    padding: 60px 0 78px 0
    +above($breakpoints.md)
      padding: 80px 0 96px 0
    +above($breakpoints.xxl)
      padding: 109px 0 187px 0

  &__title
    margin: 0 0 50px 0
    +above($breakpoints.md)
      margin: 0 0 80px 0
    +above($breakpoints.xxl)
      margin: 0 0 100px 0

  &__photo
    max-width: 230px
    margin: 0 auto 40px auto
    position relative
    +above($breakpoints.sm)
      max-width: 100%
      margin: 0 0 55px 0

  &__photo-decor
    position: absolute
    top: -52px;
    left: -26px;
    +above($breakpoints.sm)
      top: -93px;
      left: -20px;
    +above($breakpoints.md)
      top: -136px;
      left: -37px;
    +above($breakpoints.xxl)
      top: -164px
      left: -119px
    img
      width 74px
      height: auto
      +above($breakpoints.sm)
        width 106px
      +above($breakpoints.md)
        width 150px
      +above($breakpoints.xxl)
        width 225px

  &__photo-list
    margin: 0 0 14px 0
    +above($breakpoints.sm)
      margin: 0
      display: flex
      gap: 14px
    +above($breakpoints.md)
      gap: 27px
    +above($breakpoints.xxl)
      gap: 20px

  &__photo-item
    border-radius: 14px;
    overflow: hidden;
    +above($breakpoints.sm)
      border-radius: 0;
      overflow: unset
      width auto !important

  &__photo-container
    img
      border-radius: 14px
      width 230px
      height: auto
      margin: 0 auto
      +above($breakpoints.sm)
        border-radius: 20px
        margin: 0
        width 171px
      +above($breakpoints.md)
        width 222px
      +above($breakpoints.xxl)
        width 280px
    &--1
      +above($breakpoints.sm)
        transform: rotate(356deg)
    &--2
      +above($breakpoints.sm)
        transform: rotate(3deg)
    &--3
      +above($breakpoints.sm)
        transform: rotate(358deg)
    &--4
      +above($breakpoints.sm)
        transform: rotate(4deg)

  &__photo-bullets
    margin: 0 auto
    transform: translateX(0%) !important
    width 100% !important
    display: flex
    justify-content: center
    +above($breakpoints.sm)
      display: none
    .swiper-pagination-bullet
      width 16px
      height: 16px
    .swiper-pagination-bullet-active-main
      background: $color-orange-1
  &__info-list
    display: flex
    flex-wrap: wrap
    max-width: 501px;
    margin: 0 auto
    +above($breakpoints.md)
      margin: 0
      max-width: 100%
      flex-wrap: nowrap

  &__info-circle
    width: 156px;
    height: 156px;
    border-radius: 100%
    display: flex
    align-items: center
    text-align: center
    justify-content: center
    margin: 0 -10px 0 0
    position relative
    +above($breakpoints.sm)
      width: 173px;
      height: 173px;
    +above($breakpoints.md)
      margin: 0 -15px 0 0
    +above($breakpoints.xxl)
      width 209px
      height: 209px
    &:before
      content: ""
      position absolute
      border-radius: 100%
      left: 3px
      right -3px
      bottom: -3px
      top: 3px
      pointer-events: none
    br
      display: block
    &--1
      background-color: $color-yellow-2
      &:before
        border: 1px dashed $color-yellow-1
    &--2
      background-color: $color-orange-2
      &:before
        border: 1px dashed $color-orange-1
    &--3
      background-color: $color-blue-2
      &:before
        border: 1px dashed $color-blue-1
    &--4
      background-color: $color-pink-2
      &:before
        border: 1px dashed $color-pink-1
    &--5
      background-color: $color-yellow-2
      &:before
        border: 1px dashed $color-yellow-1
    &--6
      background-color: $color-blue-2
      &:before
        border: 1px dashed $color-blue-1
