.calc-section
  position: relative
  background-color: #eff2f7

  &__inner
    padding: 78px 0 68px 0
    position relative
    z-index 1
    +above($breakpoints.sm)
      padding: 110px 0 116px 0
    +above($breakpoints.md)
      padding: 180px 0 196px 0
    +above($breakpoints.xxl)
      padding: 228px 0 246px 0

  &__decor-2
    position: absolute
    top: 425px;
    left: -46px;
    z-index: -1;
    +above($breakpoints.sm)
      top: 504px;
      left: 2px;
    +above($breakpoints.md)
      top: 643px;
      left: -35px;
    +above($breakpoints.xxl)
      top: 830px;
      left: -94px;
    img
      width 134px
      height: auto
      +above($breakpoints.sm)
        width 190px
      +above($breakpoints.md)
        width 330px
      +above($breakpoints.xxl)
        width 475px

  &__decor-3
    position: absolute
    right: -37px;
    top: 170px;
    +above($breakpoints.sm)
      right: 13px;
      top: 237px;
    +above($breakpoints.md)
      right: -10px
      top: 343px;
    +above($breakpoints.xxl)
      right: -66px;
      top: 423px;
    img
      width 93px
      height: auto
      +above($breakpoints.sm)
        width 120px
      +above($breakpoints.md)
        width 230px
      +above($breakpoints.xxl)
        width 320px

  &__separate
    position: absolute
    width 100%
    &--1
      top: 0
      img
        width 100%
        height: auto
    &--2
      bottom: 0
      img
        width 100%
        height: auto

  &__title
    margin: 0 0 30px 0
    +above($breakpoints.sm)
      margin: 0 0 40px 0
    +above($breakpoints.xxl)
      margin: 0 0 60px 0

  &__frame
    max-width: 600px
    margin: 0 auto 50px auto
    padding: 30px 23px
    border-radius: 30px;
    background: #FFF;
    position relative
    z-index 1
    +above($breakpoints.sm)
      padding: 30px 40px
      margin: 0 auto 60px auto
    +above($breakpoints.md)
      padding: 40px 80px
      max-width: 774px
      margin: 0 auto 79px auto
    +above($breakpoints.xxl)
      padding: 66px 100px
      max-width: 980px

  &__frame-decor-2
    position: absolute
    right: 7px;
    top: -7px;
    +above($breakpoints.sm)
      right 18px
      top: -12px
    img
      width 30px
      height: auto
      +above($breakpoints.sm)
        width 40px
      +above($breakpoints.md)
        width 50px
      +above($breakpoints.xxl)
        width 69px

  &__frame-decor
    position: absolute
    top: 130px
    left: 0
    width: 100%
    display: flex
    justify-content: space-between
    z-index 1
    pointer-events: none
    +above($breakpoints.sm)
      top: 150px
    +above($breakpoints.md)
      top: 180px
    +above($breakpoints.xxl)
      top: 265px
    &:before
      content: ""
      position: absolute
      width 100%
      height: 0
      border: 1px dashed #eff2f7
      top: 0
      bottom: 0
      margin: auto 0
      z-index -1

  &__frame-circle
    width 48px
    height: 48px
    border-radius: 100%
    background: #eff2f7
    +above($breakpoints.xxl)
      width 56px
      height: 56px
    &:nth-child(1)
      margin: 0 0 0 -24px
      +above($breakpoints.xxl)
        margin: 0 0 0 -28px
    &:nth-child(2)
      margin: 0 -24px 0 0
      +above($breakpoints.xxl)
        margin: 0 -28px 0 0

  &__frame-title
    margin: 0 0 20px 0
    +above($breakpoints.sm)
      margin: 0 0 33px 0
    +above($breakpoints.xxl)
      margin: 0 0 43px 0

  &__frame-range
    margin: 0 auto 70px auto;
    max-width: 439px;
    +above($breakpoints.sm)
      margin: 0 auto 84px auto;
    +above($breakpoints.md)
      max-width: 580px
    +above($breakpoints.xxl)
      max-width: 733px
      margin: 0 auto 141px auto
    .irs
      cursor pointer
      height: 10px
      .irs-grid-pol
        display: none
      .irs-bar.irs-bar--single
        border-radius: 5px;
        background: #41B0AC;
        border: 0
        top: 0
        box-shadow: none
        height: 10px
      .irs-handle.single
        top: 0
        bottom: 0
        margin: auto 0
        border-radius: 100%
        cursor pointer
        border: none
        width: 22px;
        height: 22px;
        box-shadow: none
        background: $color-blue-1
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
        display: flex
        justify-content: center
        align-items: center
        +above($breakpoints.sm)
          width: 22px;
          height: 22px;
        +above($breakpoints.md)
          width: 25px;
          height: 25px;
        +above($breakpoints.xxl)
          width: 30px;
          height: 30px;
        i
          &:nth-child(1)
            width: 8px
            height: 8px
            border-radius: 100%
            background: #EFF2F7
            display: block
      .irs-line
        top: 0
        border-radius: 7px;
        border: 1px solid $color-blue-1
        background: #EFF2F7
        height: 10px
      .irs-grid
        bottom: -28px
        height: auto
        +above($breakpoints.sm)
          bottom: -30px
        +above($breakpoints.md)
          bottom: -38px
        .irs-grid-text
          font-size: 14px;
          line-height: 14px;
          font-weight: 500
          color: #2F2B27
          font-family: "Manrope-Medium"
          transition: 0.2s
          &.active
            color: #41B0AC
            font-family: "Manrope-SemiBold"
            font-weight: 600

  &__frame-info
    margin: 0 0 12px 0

  &__feedback
    .feedback
      &__title
        text-align: center
      &__description
        text-align: center
      &__list
        margin: 0 auto 10px auto
        +above($breakpoints.sm)
          margin: 0 auto 12px auto
        +above($breakpoints.xxl)
          margin: 0 auto 20px auto
      &__agree
        text-align: center
