.main-section
  position: relative
  z-index 1

  &__inner
    padding: 20px 0 240px 0
    +above($breakpoints.sm)
      padding: 20px 0 64px 0
    +above($breakpoints.md)
      padding: 32px 0 72px 0
    +above($breakpoints.xxl)
      padding: 60px 0 105px 0
