.profit-section
  background-image: url('../images/profit-image.png')
  background-repeat: no-repeat
  background-size: 550px auto;
  background-position: center 318px;
  position relative
  z-index 1
  +above($breakpoints.sm)
    background-size: 938px auto;
    background-position: center 418px;
  +above($breakpoints.md)
    background-size: 1257px auto;
    background-position: center 263px;
  +above($breakpoints.xxl)
    background-size: 1585px auto;
    background-position: center 375px;
  &:before
    content: ""
    position: absolute
    width 100%
    height: 100%
    top: 0
    left: 0
    z-index -1
    pointer-events: none
    background-image: url('../images/profit-decor-1.svg'),
      url('../images/profit-decor-2.svg')
    background-repeat: no-repeat
    background-size: 117px auto, 76px auto;
    background-position: calc(50% - 154px) 8px, calc(50% - -99px) 399px;
    +above($breakpoints.sm)
      background-size: 180px auto, 207px auto;
      background-position: calc(50% - 299px) 138px, calc(50% - -399px) 491px;
    +above($breakpoints.md)
      background-size: 531px auto, 386px auto;
      background-position: calc(50% - 640px) 38px, calc(50% - -652px) 379px;
    +above($breakpoints.xxl)
      background-size: 704px auto, 629px auto;
      background-position: calc(50% - 846px) 38px, calc(50% - -933px) 387px

  &__inner
    padding: 40px 0 198px 0
    +above($breakpoints.sm)
      padding: 70px 0 225px 0
    +above($breakpoints.md)
      padding: 100px 0 320px 0
    +above($breakpoints.xxl)
      padding: 131px 0 429px 0

  &__title
    margin: 0 0 12px 0
    +above($breakpoints.md)
      margin: 0 0 18px 0
    +above($breakpoints.xxl)
      margin: 0 0 24px 0

  &__title-info
    margin: 0 0 30px 0
    +above($breakpoints.md)
      margin: 0 0 50px 0
    +above($breakpoints.xxl)
      margin: 0 0 78px 0

  &__cards
    max-width: 260px
    margin: 0 auto
    +above($breakpoints.sm)
      max-width: 600px
    +above($breakpoints.md)
      max-width: 100%
      margin: 0

  &__cards-list
    margin: 0 0 18px 0
    +above($breakpoints.sm)
      display: flex
      gap 12px
      flex-wrap: wrap
      justify-content: center
    +above($breakpoints.md)
      gap 14px
      justify-content: flex-start
      flex-wrap: nowrap
    +above($breakpoints.xxl)
      gap 25px

  &__cards-item
    display: flex
    justify-content: center
    +above($breakpoints.sm)
      width auto !important

  &__card
    width: 242px;
    height: 162px;
    border-radius: 20px;
    padding: 21px 8px 24px 8px;
    position relative
    +above($breakpoints.sm)
      height: 193px;
    +above($breakpoints.md)
      width: 231px;
      height: 211px;
      padding: 28px 8px 24px 8px;
    +above($breakpoints.xxl)
      padding: 40px 20px 30px 20px
      width 275px
      height: 268px
    &:before
      content: ""
      position: absolute
      top: -5px
      right -3px
      bottom: 5px
      left: 3px
      border-radius: 20px
      pointer-events: none
    &--1
      background-color: $color-blue-2
      &:before
        border: 1px dashed $color-blue-1
    &--2
      background-color: $color-yellow-2
      &:before
        border: 1px dashed $color-yellow-1
    &--3
      background-color: $color-pink-2
      &:before
        border: 1px dashed $color-pink-1
    &--4
      background-color: $color-orange-2
      &:before
        border: 1px dashed $color-orange-1

  &__card-title
    margin: 0 0 6px 0

  &__cards-progress
    position relative
    height: 7px !important
    border-radius: 10px
    overflow: hidden
    background: $color-pink-2
    +above($breakpoints.sm)
      display: none
    .swiper-pagination-progressbar-fill
      background: $color-pink-1

  &__feedback
    padding: 64px 0 240px 0
    background-image: url('../images/profit-feedback-bg.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    position relative
    z-index 1
    +above($breakpoints.sm)
      padding: 78px 0 76px 0
    +above($breakpoints.md)
      padding: 117px 0 87px 0
    +above($breakpoints.xxl)
      padding: 175px 0 143px 0
    &:before
      content: ""
      position: absolute
      width 100%
      height: 100%
      top: 0
      left: 0
      z-index -1
      pointer-events: none
      background-image: url('../images/profit-feedback-decor.png')
      background-repeat: no-repeat
      background-size: 187px auto;
      background-position: calc(50% - 12px) 386px;
      +above($breakpoints.sm)
        background-size: 251px auto;
        background-position: calc(50% - -285px) 40px;
      +above($breakpoints.md)
        background-size: 324px auto;
        background-position: calc(50% - -306px) 41px;
      +above($breakpoints.xxl)
        background-size: 462px auto
        background-position: calc(50% - -435px) 60px;
    .feedback
      &__list
        position relative
      &__decor
        position: absolute;
        right: -21px;
        top: -30px;
        transform: rotate(114deg);
        +above($breakpoints.sm)
          right: -17px
          top: -70px
          transform: rotate(0deg)
