.stages-section
  position relative
  z-index 1
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width 100%
    height: 100%
    z-index -1
    pointer-events: none
    background-image: url('../images/stages-image.png')
    background-repeat: no-repeat
    background-size: 243px auto;
    background-position: calc(50% - 0px) 2247px;
    +above($breakpoints.sm)
      background-size: 326px auto;
      background-position: calc(50% - -252px) 658px;
    +above($breakpoints.md)
      background-size: 419px auto;
      background-position: calc(50% - -305px) 818px;
    +above($breakpoints.xxl)
      background-size: 692px auto;
      background-position: calc(50% - -461px) 880px;

  &__decor
    position: absolute
    z-index -1
    top: -40px;
    left: calc(50% - 260px);
    +above($breakpoints.sm)
      top: 176px;
      left: calc(50% - 805px);
    +above($breakpoints.md)
      top: 217px;
      left: calc(50% - 1060px);
    +above($breakpoints.xxl)
      top: 83px;
      left: calc(50% - 1735px);
    img
      width 216px
      height: auto
      +above($breakpoints.sm)
        width 610px
      +above($breakpoints.md)
        width 775px
      +above($breakpoints.xxl)
        width 1328px

  &__inner
    padding: 10px 0 30px 0
    +above($breakpoints.md)
      padding: 10px 0 50px 0
    +above($breakpoints.xxl)
      padding: 14px 0 67px 0

  &__title
    margin: 0 0 50px 0
    +above($breakpoints.md)
      margin: 0 0 80px 0
    +above($breakpoints.xxl)
      margin: 0 0 116px 0

  &__cards
    margin: 0 0 280px 0
    position relative
    +above($breakpoints.sm)
      margin: 0 -10px 40px -10px
    +above($breakpoints.md)
      margin: 0 0 62px 0
    +above($breakpoints.xxl)
      margin: 0 0 92px 0

  &__cards-decor
    position: absolute
    top: -25px;
    left: -4px;
    +above($breakpoints.sm)
      top: -59px;
    +above($breakpoints.md)
      top: -110px
      left: -29px
    img
      width 60px
      height: auto
      +above($breakpoints.md)
        width 90px

  &__cards-list
    display: flex
    flex-wrap: wrap
    gap 28px 6px
    +above($breakpoints.md)
      gap 38px 49px
    +above($breakpoints.xxl)
      gap 48px 80px

  &__cards-item
    max-width: 292px
    margin: 0 auto
    +above($breakpoints.sm)
      margin: 0
      max-width: 244px
    +above($breakpoints.md)
      max-width: 290px
    +above($breakpoints.xxl)
      max-width: 340px
    &:nth-child(3)
      .stages-section__card-head
        &:before
          +above($breakpoints.sm)
            width: 53%
          +above($breakpoints.xxl)
            width: 49%
    &:nth-child(5)
      .stages-section__card-head
        &:before
          content: none

  &__card-head
    width: 110px;
    height: 38px;
    margin: 0 auto 10px auto
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    background: $color-yellow-1
    border-radius: 27px;
    position relative
    +above($breakpoints.sm)
      margin: 0 auto 20px auto
    +above($breakpoints.md)
      margin: 0 auto 31px auto
      width: 140px;
      height: 46px;
    +above($breakpoints.xxl)
      width 168px
      height: 54px
      margin: 0 auto 51px auto
    &:before
      +above($breakpoints.sm)
        content: ""
        position: absolute
        width 130%
        height: 0px
        border-bottom: 1px dashed $color-yellow-1
        left: 100%
        top: 0
        bottom: 0
        margin: auto 0
      +above($breakpoints.md)
        width 144%
      +above($breakpoints.xxl)
        width 153%

  &__card
    width 100%
    padding: 6px 6px 20px 6px
    border-radius: 20px
    border: 1px dashed $color-blue-1
    background: #FFF;
    +above($breakpoints.sm)
      height: 381px
    +above($breakpoints.md)
      height: 430px
      padding: 10px
    +above($breakpoints.xxl)
      height: 517px
      padding: 16px

  &__card-image
    margin: 0 0 18px 0
    +above($breakpoints.xxl)
      margin: 0 0 26px 0
    img
      border-radius: 20px
      width 100%
      height: auto

  &__card-title
    margin: 0 0 6px 0

  &__card-description
    br
      display: none
      +above($breakpoints.md)
        display: block

  &__feedback
    .feedback
      &__title
        text-align: center
      &__list
        margin: 0 auto 10px auto
        +above($breakpoints.sm)
          margin: 0 auto 12px auto
        +above($breakpoints.xxl)
          margin: 0 auto 20px auto
      &__agree
        text-align: center

  &__gallery
    padding: 30px 0 37px 0
    +above($breakpoints.md)
      padding: 46px 0 37px 0
    +above($breakpoints.xxl)
      padding: 67px 0 47px 0

  &__swiper-title
    margin: 0 0 22px 0
    position relative
    +above($breakpoints.xxl)
      margin: 0 0 36px 0

  &__swiper-inner
    overflow: hidden;
    border-radius: 20px;
    margin: 0 0 28px 0
    +above($breakpoints.md)
      margin: 0 0 38px 0
    +above($breakpoints.xxl)
      margin: 0 0 52px 0

  &__swiper-decor
    position: absolute
    top: 26px;
    left: -3px;
    +above($breakpoints.sm)
      top: -5px;
      left: -3px;
    +above($breakpoints.xxl)
      top: 18px;
      left: -103px;
    img
      width 48px
      height: auto
      +above($breakpoints.sm)
        width 60px
      +above($breakpoints.md)
        width 70px
      +above($breakpoints.xxl)
        width 96px

  &__swiper
    +above($breakpoints.sm)
      margin: 0 -10px 0 0;
    +above($breakpoints.md)
      margin: 0 -20px 0 0;

  &__swiper-container
    img
      border-radius: 20px
      width 290px
      height: auto
      margin: 0 auto
      +above($breakpoints.sm)
        margin: 0
        width 235px
      +above($breakpoints.md)
        width 309px
      +above($breakpoints.xxl)
        width 380px

  &__swiper-control
    display: flex
    justify-content: center
    align-items: center
    gap: 30px
    +above($breakpoints.md)
      gap: 49px
    .swiper-control
      cursor pointer
      img
        width 38px
        height: auto
        +above($breakpoints.md)
          width 44px

  &__swiper-prev
    transform: rotate(180deg)
