.wrapper
  max-width: 320px
  margin: 0 auto
  padding: 0 6px
  +above($breakpoints.sm)
    max-width: 750px
    margin: 0 auto
    padding: 0 12px
  +above($breakpoints.md)
    max-width: 1000px
    padding: 0 16px
  +above($breakpoints.xxl)
    padding: 0 20px
    max-width: 1220px

section
  overflow-x: clip
  max-width: 1920px
  margin: 0 auto
  font-size: 14px
  line-height: 130%
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 16px

h1,
h2
  font-family: "LifehackSans-Regular"
  font-weight: 400

.d-flex
  display: flex
.d-block
  display: block
.d-i-block
  display: inline-block
.d-none
  display: none

.color-white
  color: $color-white
.color-black
  color: $color-black
.color-dark-1
  color: $color-dark-1
.color-milk-1
  color: $color-milk-1
.color-blue-1
  color: $color-blue-1 
.color-blue-2
  color: $color-blue-2 
.color-orange-1
  color: $color-orange-1
.color-yellow-1
  color: $color-yellow-1
.color-pink-1
  color: $color-pink-1

.text-up
  text-transform: uppercase
.text-center
  text-align: center
.text-left
  text-align: left

.font-m-light
  font-family: "Manrope-Light"
.font-m-reg
  font-family: "Manrope-Regular"
.font-m-med
  font-family: "Manrope-Medium"
.font-m-s-bold
  font-family: "Manrope-SemiBold"
.font-l-reg
  font-family: "LifehackSans-Regular"

.font-s-14
  font-size: 12px
  line-height: 109%
  +above($breakpoints.sm)
    font-size: 13px
  +above($breakpoints.xxl)
    font-size: 14px
.font-s-16
  font-size: 14px
  line-height: 130%
  +above($breakpoints.sm)
    font-size: 15px
  +above($breakpoints.xxl)
    font-size: 16px
.font-s-18
  font-size: 15px
  line-height: 130%
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.xxl)
    font-size: 18px
.font-s-20
  font-size: 15px
  line-height: 132%
  +above($breakpoints.sm)
    font-size: 16px
  +above($breakpoints.md)
    font-size: 18px
  +above($breakpoints.xxl)
    font-size: 20px
.font-s-22
  font-size: 16px
  line-height: 132%
  +above($breakpoints.sm)
    font-size: 18px
  +above($breakpoints.md)
    font-size: 20px
  +above($breakpoints.xxl)
    font-size: 22px
.font-s-46
  font-size: 24px
  line-height: 88%
  +above($breakpoints.sm)
    font-size: 27px
  +above($breakpoints.md)
    font-size: 32px
  +above($breakpoints.xxl)
    font-size: 46px
.font-s-72
  font-size: 33px
  line-height: 86%
  +above($breakpoints.sm)
    font-size: 46px
  +above($breakpoints.md)
    font-size: 60px
  +above($breakpoints.xxl)
    font-size: 72px
.font-s-80
  font-size: 40px
  line-height: 86%
  +above($breakpoints.sm)
    font-size: 50px
  +above($breakpoints.md)
    font-size: 70px
  +above($breakpoints.xxl)
    font-size: 80px
.font-s-100
  font-size: 39px
  line-height: 86%
  +above($breakpoints.sm)
    font-size: 58px
  +above($breakpoints.md)
    font-size: 80px
  +above($breakpoints.xxl)
    font-size: 100px

.tap-color
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
